.activityContainer {
  background-color: var(--tezos-secondary-background);
  height: 900px;
  width: 100%;
}
.cardDesc {
  font-size: 12px;
  margin-right: 30px;
  margin-top: 10px;
  line-height: 23px;
}
.cardImg{
    width:60px;
    margin: 20px 0 10px 0;
}
.eduCard{
    margin-left: 250px!important;
    margin-top: 150px !important;
}
.communityCard{
    margin-left: 250px !important;
    margin-top: -90px !important;
}
.mediaCard{
    margin-top: 150px !important;
    margin-left: -100px !important;
}
.activityDesc{
    margin-top: 270px;
}
.bussinessCard{
    margin-top: -90px !important;
    margin-left: -100px !important;
}
.alignHeadings{
    font-size: 40px; 
    font-weight: bold;
    color: var(--tezos-white);
    line-height: 50px;
    margin-top: 250px !important;
}
.subHeading{
    color:var(--tezos-text);
    font-size: var(--font-size-semi-medium);
    margin-top: 30px !important;
}
.activityBtn{
    background-color: #377DFF !important;
    color:var(--tezos-white) !important;
    margin-top: 20px !important;
    height: 60px !important;
    width: 180px !important;
    border-radius: 10px !important;
    text-transform: inherit !important;
    font-weight: bold !important;
    font-size: var(--font-size-mod-medium) !important;
}