.cardContainer {
  background-color: #647afc !important;
  height: 42vh;
  width: 18vw;
  border-radius: 10px !important;
  color: var(--tezos-white);
  padding: 10px !important;
  box-shadow: none !important;
}
.dark-cardContainer {
  background-color: #2a2c34 !important;
}
@media (min-width: 320px) and (max-width: 359px) {
  .cardContainer{
    height: 56vh;
    width: 80vw;
  }
}
@media (min-width: 360px) and (max-width: 374px) {
  .cardContainer{
    min-height: 48vh;
    width: 80vw;
  }
}
@media (min-width: 375px) and (max-width: 400px) {
  .cardContainer{
    min-height: 42vh;
    width: 80vw;
  }
}
@media (min-width: 401px) and (max-width: 411px) {
  .cardContainer{
    min-height: 4vh;
    width: 80vw;
  }
}
@media (min-width: 412px) and (max-width: 480px) {
  .cardContainer{
    max-height: 30vh;
    width: 80vw;
  }
}
@media (min-width: 414px) and (max-width: 420px) {
  .cardContainer{
    max-height: 40vh !important;
    width: 80vw;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .cardContainer{
    width: 45vw;
    height: 48vh;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .cardContainer{
    height: 32vh;
    width:50vw;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .cardContainer{
    height: 25vh;
    width:50vw;
  }
}