.container-div {
  background-color: #4a62ff;
  height: 140vh;
  width: 100%;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  overflow: hidden !important;
}
.dark-container-div {
  background-color: var(--tezos-secondary-background);
}
.align-card {
  display: flex;
  flex-direction: row;
  gap: 1rem 1rem;
}
.card-div {
  padding: 20vh 12vw;
}
.align-card-two {
  display: flex;
  flex-direction: row;
  gap: 1rem 1rem;
  margin-top: 20px;
}
.activity-img {
  width: 4vw;
  object-fit: cover !important;
}
.activity-title {
  font-size: 20px;
  color: var(--tezos-white);
  font-weight: bold;
}
.activity-subTitle {
  font-size: var(--font-size-mod-medium);
  color: var(--tezos-white);
  margin: -10px -10px 0 0;
  line-height: 1.4;
}
.dark-activity-subTitle {
  color: var(--tezos-text);
}
.align-div-text {
  margin: 35vh 8vw 0 -5vw !important;
}
.alignHeadings {
  color: var(--tezos-white);
  font-size: 40px;
  line-height: 1.2;
  margin-left: -1vw;
}
.subHeading {
  color: var(--tezos-white);
  margin-left: -1vw;
  margin-right: 5vw;
  font-size: 16px;
}
.dark-subHeading {
  color: var(--tezos-text);
}
.activityBtn {
  background-color: transparent !important;
  color: var(--tezos-white) !important;
  margin-top: 20px !important;
  margin-left: -1vw !important;
  height: 50px !important;
  width: 160px !important;
  border: 3px solid white !important;
  border-radius: 10px !important;
  text-transform: inherit !important;
  font-weight: bold !important;
  font-size: var(--font-size-semi-medium) !important;
}
.dark-activityBtn {
  background-color: #377dff !important;
  border: none !important;
}
.activityBtn:hover{
  background-color: #ffffff !important;
  border: 3px solid #ffffff!important;
  color:#377dff !important;
}
.dark-activityBtn:hover {
  background-color: #ffffff !important;
  border: 3px solid #ffffff!important;
  color:#1d1f28 !important;
}
@media (min-width: 320px) and (max-width: 360px) {
  .align-card {
    flex-direction: column;
  }
  .align-card-two {
    flex-direction: column;
  }
  .container-div {
    flex-direction: column;
    height: 350vh !important;
  }
  .activity-img {
    width: 20vw;
  }
  .alignHeadings {
    margin: -50vh -1vw 0 18vw;
    font-size: 30px;
  }
  .subHeading {
    margin: 2vh 0 0 18vw;
    line-height: 1.5;
    font-size: 16px !important;
  }
  .activityBtn {
    margin-left: 18vw !important;
  }
  .activity-title{
    font-size: 14px !important;
  }
  .activity-subTitle{
    font-size: 12px !important;
  }

}
@media (min-width: 375px) and (max-width: 411px) {
  .align-card {
    flex-direction: column;
  }
  .align-card-two {
    flex-direction: column;
  }
  .container-div {
    flex-direction: column;
    height: 380vh !important;
  }
  .activity-img {
    width: 22vw;
  }
  .alignHeadings {
    margin: -50vh -1vw 0 18vw;
    font-size: 30px;
  }
  .subHeading {
    margin: 2vh 0 0 18vw;
    line-height: 1.5;
    font-size: 16px;
  }
  .activityBtn {
    margin-left: 18vw !important;
  }
  .card-div{
    margin-left: 5vw !important;
  }
  .activity-title{
    font-size: 16px !important;
  }
  .activity-subTitle{
    font-size: 12px !important;
  }
}
@media (min-width: 412px) and (max-width: 768px) {
  .align-card {
    flex-direction: column;
  }
  .align-card-two {
    flex-direction: column;
  }
  .container-div {
    flex-direction: column;
    height: 400vh !important;
  }
  .activity-img {
    width: 15vw;
  }
  .alignHeadings {
    margin: -50vh -1vw 0 20vw;
    font-size: 30px;
  }
  .subHeading {
    margin: 2vh 0 0 20vw;
    line-height: 1.5;
    font-size: 16px;
  }
  .activityBtn {
    margin-left: 20vw !important;
  }
  .card-content {
    margin: 40px 10px 0 20px;
  }
  .card-div{
    margin-left: 5vw !important;
  }
  .activity-title{
    font-size: 18px !important;
  }
  .activity-subTitle{
    font-size: 14px !important;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  .container-div {
    flex-direction: column;
    height: 180vh !important;
  }
  .alignHeadings {
    margin: -50vh -1vw 0 22vw;
    font-size: 40px;
  }
  .subHeading {
    margin: 2vh 0 0 22vw;
    line-height: 1.6;
    font-size: 24px;
  }
  .activityBtn {
    margin-left: 22vw !important;
    margin-top: 40px !important;
    height: 8vh !important;
    width: 18vw !important;
    font-size: 18px !important;
  }
  .activity-subTitle {
    font-size: 25px;
  }
  .activity-img {
    width: 10vw;
  }
  .card-div{
    margin-left: 5vw !important;
  }
  .activity-title{
    font-size: 18px !important;
  }
  .activity-subTitle{
    font-size: 14px !important;
  }
}
