.container-div {
  background-color: #4a62ff;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden !important;
}
.dark-container-div {
  background-color: var(--tezos-secondary-background);
}
.align-card {
  display: flex;
  flex-direction: row;
  gap: 1rem 1rem;
}
.card-div {
  padding: 20vh 12vw;
}
.align-card-two {
  display: flex;
  flex-direction: row;
  gap: 1rem 1rem;
  margin-top: 20px;
}
.activity-img {
  width: 4vw;
  object-fit: cover;
}
.activity-title {
  font-size: 20px;
  color: var(--tezos-white);
  font-weight: bold;
}
.activity-subTitle {
  font-size: var(--font-size-mod-medium);
  color: var(--tezos-white);
  margin: -10px -10px 0 0;
  line-height: 1.4;
}
.dark-activity-subTitle {
  color: var(--tezos-text);
}
.align-div-text {
  margin: 35vh 8vw 0 -5vw;
}
.alignHeadings {
  color: var(--tezos-white);
  font-size: 40px;
  line-height: 1.2;
  margin-left: -1vw;
}
.subHeading {
  color: var(--tezos-white);
  margin-left: -1vw;
  margin-right: 5vw;
  font-size: 16px;
}
.dark-subHeading {
  color: var(--tezos-text);
}
.activityBtn {
  background-color: transparent !important;
  color: var(--tezos-white) !important;
  margin-top: 20px !important;
  margin-left: -1vw !important;
  height: 50px !important;
  width: 160px !important;
  border: 3px solid white !important;
  border-radius: 10px !important;
  text-transform: inherit !important;
  font-weight: bold !important;
  font-size: var(--font-size-semi-medium) !important;
}
.dark-activityBtn {
  background-color: #377dff !important;
  border: none !important;
}
.activityBtn:hover {
  background-color: #ffffff !important;
  border: 3px solid #ffffff !important;
  color: #377dff !important;
}
.dark-activityBtn:hover {
  background-color: #ffffff !important;
  border: 3px solid #ffffff !important;
  color: #1d1f28 !important;
}
.align-div-text{
  padding-bottom: 5vh;
}
@media (min-width: 320px) and (max-width: 480px) {
  .align-card,.align-card-two{
    flex-direction: column;
    margin-left: -5vw;
  }
  .container-div{
    flex-direction: column;
  }
  .activity-img{
    width:16vw;
  }
  .align-div-text{
    margin-top: -10vh;
    padding-left: 55px;
  }
  .align-div-text h1{
    font-size: 24px;
  }
  .activity-subTitle{
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-div{
    flex-direction: column;
  }
  .activity-title{
    font-size: 16px;
  }
  .activity-img{
    width:8vw;
  }
  .align-div-text{
    margin-top: -10vh;
    padding-left: 100px;
  }
  .align-div-text h1{
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-div{
    flex-direction: column;
  }
  .activity-img{
    width:8vw;
  }
  .align-div-text{
    margin-top: -10vh;
    padding-left: 140px;
  }
  .align-div-text h1{
    font-size: 24px;
  }
}
@media (min-width: 2000px) and (max-width: 4000px) {
  .container-div{
    margin-top: -7vh !important;
  }
}