.BlogBannerCard {
  background-image: url("../assets/banner.svg") !important;
  background-position: -15vw 0 !important;
  background-repeat: no-repeat !important;
  width: 72vw !important;
  height: 25vh !important;
  border-radius: 15px !important;
}
@media (min-width: 320px) and (max-width: 411px) {
  .BlogBannerCard {
    height: 30vw !important;
  }
}
@media (min-width: 412px) and (max-width: 799px) {
  .BlogBannerCard {
    height: 18vw !important;
    background-size: 110vw !important;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  .BlogBannerCard {
    background-size: 110vw !important;
    height: 20vh !important;
  }
}
