.blog-container {
  background-color: #4a62ff !important;
  height: 180vh;
  font-family: "Inter", sans-serif !important;
  padding: 0 !important;
}
.dark-blog-container {
  background-color: #1d1f28 !important;
}
.blog-div-title h1 {
  padding-top: 15vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 45px;
}
.blog-div-title {
  margin-top: -30px;
}
.align-blog-cards {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  gap: 0 40px;
}
.align-blog-horizontal-cards {
  display: flex;
  flex-direction: row;
}
.blog-podcast {
  margin: 10vh 40px 0 14vw;
}
.align-card-heading {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
  margin-left: 10px;
}
.align-card-headings {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
  margin-left: 10px;
  margin-top: 20px;
}
.align-card-likes {
  background: var(--tezos-blue);
  font-size: 12px;
  width: 60px;
  height: 25px;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  gap: 0 5px;
}
.align-card-likes img {
  width: 13px;
  height: 13px;
  margin-top: 5px;
  margin-left: 10px;
}
.align-card-likes p {
  margin: 3px 0 0 -2px;
}
.blog-card-img img {
  width: 4vw;
}
.blog-card-img {
  margin-top: 15vh;
  margin-left: 5px;
}
.blog-card-text {
  margin-top: 5vh;
  margin-left: 10px;
}
.blog-card-text p {
  padding: 0 5px;
  margin-top: 8vh;
}
.align-card-header-img img {
  width: 24vw;
  height: 35vh;
  object-fit: fill;
  margin-top: -20px;
  margin-left: -35px;
}
.blog-title {
  margin-left: 10px;
}
.blog-desc {
  padding: 20px 10px;
}
.blog-next {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  cursor: pointer;
}
.blog-next img {
  width: 4vw;
  height: 4vh;
  margin: 12px 0 0 -10px;
}
.align-banner {
  margin: 15vh 0 0 14vw;
}
.banner-content {
  display: flex;
  flex-direction: row;
}
.banner-content h1 {
  margin: 5vh 5vw 0 2vw;
  color: white;
  font-size: 30px;
}
.banner-button {
  background: var(--tezos-blue) !important;
  color: var(--tezos-white) !important;
  text-transform: inherit !important;
  width: 10vw !important;
  height: 8vh !important;
  border-radius: 10px !important;
  margin-left: 20vw !important;
  margin-top: 7vh !important;
}
.blog-card-type {
  color: white;
  font-size: 12px;
}
.dark-blog-card-type {
  color: var(--tezos-blue);
}
.blog-card-date {
  font-size: 12px;
}
@media (min-width: 320px) and (max-width: 375px) {
  .blog-div-title h1 {
    font-size: 25px !important;
    padding: 5vh 20vw 0 10vw !important;
  }
  .blog-container {
    height: 350vh !important;
  }
  .align-blog-horizontal-cards {
    flex-direction: column;
  }
  .align-blog-cards {
    margin-top: -30px !important;
    flex-direction: column;
    padding-left: 50px !important ;
    gap: 30px 0 !important;
  }
  .blog-card-date {
    font-size: 12px;
    width: 20vw !important;
  }
  .blog-card-img img {
    width: 10vw !important;
  }
  .blog-card-text h1 {
    font-size: 25px !important;
  }
  .blog-card-text p {
    font-size: 12px !important;
  }
  .align-card-header-img img {
    width: 75vw !important;
  }
  .blog-title {
    margin-top: 10px !important;
    font-size: 18px !important;
  }
  .blog-desc {
    margin-top: -15px !important;
    font-size: 14px !important;
  }
  .blog-next {
    margin-top: -20px !important;
  }
  .blog-next img {
    width: 5vw !important;
    margin: 10px 0 0 5px !important;
  }
  .blog-next p {
    font-size: 12px !important;
  }
  .banner-content h1 {
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .banner-button {
    padding: 0 !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 376px) and (max-width: 515px) {
  .blog-div-title h1 {
    font-size: 30px !important;
    padding: 5vh 20vw 0 10vw !important;
  }
  .blog-container {
    height: 350vh !important;
  }
  .align-blog-horizontal-cards {
    flex-direction: column;
  }
  .blog-podcast {
    padding-left: 50px !important;
  }
  .align-blog-cards {
    margin-top: -30px !important;
    flex-direction: column;
    padding-left: 120px !important ;
    gap: 30px 0 !important;
  }
  .blog-card-date {
    font-size: 12px;
    width: 20vw !important;
  }
  .blog-card-img img {
    width: 10vw !important;
  }
  .blog-card-text h1 {
    font-size: 25px !important;
  }
  .blog-card-text p {
    font-size: 12px !important;
  }
  .align-card-header-img img {
    width: 75vw !important;
  }
  .blog-title {
    margin-top: 10px !important;
    font-size: 18px !important;
  }
  .blog-desc {
    margin-top: -15px !important;
    font-size: 14px !important;
  }
  .blog-next {
    margin-top: -20px !important;
  }
  .blog-next img {
    width: 5vw !important;
    margin: 10px 0 0 5px !important;
  }
  .blog-next p {
    font-size: 12px !important;
  }
  .banner-content h1 {
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .banner-button {
    padding: 0 !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 516px) and (max-width: 760px) {
  .blog-div-title h1 {
    font-size: 30px !important;
    padding: 5vh 20vw 0 10vw !important;
  }
  .blog-container {
    height: 350vh !important;
  }
  .align-blog-horizontal-cards {
    flex-direction: column;
  }
  .blog-podcast {
    padding-left: 50px !important;
  }
  .align-blog-cards {
    margin-top: -30px !important;
    flex-direction: column;
    padding-left: 135px !important ;
    gap: 30px 0 !important;
  }
  .blog-card-date {
    font-size: 12px;
    width: 20vw !important;
  }
  .blog-card-img img {
    width: 10vw !important;
  }
  .blog-card-text h1 {
    font-size: 25px !important;
  }
  .blog-card-text p {
    font-size: 12px !important;
  }
  .align-card-header-img img {
    width: 75vw !important;
  }
  .blog-title {
    margin-top: 10px !important;
    font-size: 18px !important;
  }
  .blog-desc {
    margin-top: -15px !important;
    font-size: 14px !important;
  }
  .blog-next {
    margin-top: -20px !important;
  }
  .blog-next img {
    width: 5vw !important;
    margin: 10px 0 0 5px !important;
  }
  .blog-next p {
    font-size: 12px !important;
  }
  .banner-content h1 {
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .banner-button {
    padding: 0 !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 761px) and (max-width: 800px) {
  .blog-div-title h1 {
    font-size: 30px !important;
    padding: 5vh 20vw 0 10vw !important;
  }
  .blog-container {
    height: 350vh !important;
  }
  .align-blog-horizontal-cards {
    flex-direction: column;
  }
  .blog-podcast {
    padding-left: 120px !important;
  }
  .align-blog-cards {
    margin-top: -30px !important;
    flex-direction: column;
    padding-left: 230px !important ;
    gap: 30px 0 !important;
  }
  .blog-card-date {
    font-size: 12px;
    width: 20vw !important;
  }
  .blog-card-img img {
    width: 10vw !important;
  }
  .blog-card-text h1 {
    font-size: 25px !important;
  }
  .blog-card-text p {
    font-size: 12px !important;
  }
  .align-card-header-img img {
    width: 50vw !important;
  }
  .blog-title {
    margin-top: 10px !important;
    font-size: 18px !important;
  }
  .blog-desc {
    margin-top: -15px !important;
    font-size: 14px !important;
  }
  .blog-next {
    margin-top: -20px !important;
  }
  .blog-next img {
    width: 5vw !important;
    margin: 10px 0 0 5px !important;
  }
  .blog-next p {
    font-size: 12px !important;
  }
  .banner-content h1 {
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .banner-button {
    padding: 0 !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 801px) and (max-width: 950px) {
  .blog-div-title h1 {
    font-size: 30px !important;
    padding: 5vh 20vw 0 10vw !important;
  }
  .blog-container {
    height: 350vh !important;
  }
  .blog-podcast {
    margin-left: 50px !important;
  }
  .align-blog-cards {
    margin-top: -5px !important;
    padding-left: 10px !important ;
  }
  .blog-card-date {
    font-size: 10px;
    width: 20vw !important;
  }
  .blog-card-type {
    font-size: 10px !important;
  }
  .blog-card-img img {
    width: 10vw !important;
  }
  .blog-card-text h1 {
    font-size: 25px !important;
  }
  .blog-card-text p {
    font-size: 12px !important;
  }
  .align-card-header-img img {
    width: 30vw !important;
  }
  .blog-title {
    margin-top: 20px !important;
    font-size: 18px !important;
  }
  .blog-desc {
    margin-top: 15px !important;
    font-size: 14px !important;
  }
  .blog-next {
    margin-top: 20px !important;
  }
  .blog-next img {
    width: 5vw !important;
    margin: 10px 0 0 5px !important;
  }
  .blog-next p {
    font-size: 12px !important;
  }
  .banner-content h1 {
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .banner-button {
    padding: 0 !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 951px) and (max-width: 1024px) {
  .blog-div-title h1 {
    font-size: 40px !important;
    padding: 5vh 20vw 0 10vw !important;
  }
  .blog-container {
    height: 350vh !important;
  }
  .blog-podcast {
    margin-left: 35px !important;
  }
  .align-blog-cards {
    margin-top: -5px !important;
    padding-left: 5px !important ;
  }
  .blog-card-date {
    font-size: 10px;
    width: 20vw !important;
  }
  .blog-card-type {
    font-size: 10px !important;
  }
  .blog-card-img img {
    width: 10vw !important;
  }
  .blog-card-text h1 {
    font-size: 25px !important;
  }
  .blog-card-text p {
    font-size: 12px !important;
  }
  .align-card-header-img img {
    width: 30vw !important;
  }
  .blog-title {
    margin-top: 20px !important;
    font-size: 18px !important;
  }
  .blog-desc {
    margin-top: 15px !important;
    font-size: 14px !important;
  }
  .blog-next {
    margin-top: 20px !important;
  }
  .blog-next img {
    width: 5vw !important;
    margin: 10px 0 0 5px !important;
  }
  .blog-next p {
    font-size: 12px !important;
  }
  .banner-content h1 {
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .banner-button {
    padding: 0 !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
