.communityCardContainer {
  background-color: #647afc !important;
  height: 250px !important;
  width: 700px !important;
  border-radius: 10px !important;
  color: var(--tezos-white);
  padding: 10px !important;
}
.dark-communityCardContainer {
  background-color: #2a2c34 !important;
}