.community-background {
  background: #4a62ff;
  height: 140vh;
}
.dark-community-background {
  background: #1d1f28 !important;
}
.carousel-control {
  display: flex;
  flex-direction: row;
  gap: 0 2vw;
  margin: 10px 0 0 45%;
  cursor: pointer;
}
.align-carousel {
  padding-top: 10vh;
}
.com-img {
  width: 200px;
  height: 230px;
  border-radius: 10px;
  object-fit: fill;
}
.align-com-card-content {
  display: flex;
  flex-direction: row;
}
.align-com-card-desc {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.align-com-card-desc p {
  color: var(--tezos-white);
}
.com-card-title {
  font-size: 18px;
  font-weight: bold;
}
.com-card-designation {
  font-size: 14px;
  margin-top: -10px;
}
.align-com-img {
  margin: -5px 10px -8px -8px;
}
.com-headers {
  text-align: center;
  padding-top: 10vh;
  color: var(--tezos-white);
}
.com-headers h1 {
  font-size: 40px;
  padding: 0 500px;
}
.com-headers p {
  font-size: 16px;
  padding: 5px 500px;
}
.com-info {
  display: flex;
  flex-direction: row;
  gap: 0 3vw;
  margin: 5vh 0 0 26vw;
  font-family: "Inter", sans-serif;
  color: var(--tezos-white);
}
.com-numbers {
  font-size: 45px;
  font-weight: bold;
}
.com-info-header {
  font-size: 18px;
  margin-top: -20px;
  font-weight: bold;
}