.container {
  background: var(--tezos-background);
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.footerLinks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: var(--tezos-text);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-left: 48vw;
  margin-top: -2vh;
}
.footerAlignLinks {
  margin-left: 30px;
  justify-content: center;
  cursor: pointer;
}
.logo {
  width: 20vw;
  display: flex;
  margin-left: 20% !important;
  justify-content: center;
}
.social {
  margin-top: 3vh;
  margin-left: 35vw;
  display: flex;
}
.footerSocialLinks {
  margin-left: 70px;
  width: 20px;
  cursor: pointer;
}
.copyright {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--tezos-text);
  margin-top: 4vh;
  text-align: center;
}
@media (max-width: 641px) {
  .logo {
    margin-left: -15px !important;
    
  }
.copyright{
    font-size: 12px !important;
    margin-left: -5px !important;
}
.footerLinks{
    margin-left: -35px !important;
    font-size:12px !important ;
}
.social {
    margin-left: -10px !important;
  }
}
@media (max-width: 360px) {
  .logo{
    margin-left: 10px !important;
  }
  .footerLinks{
    font-size: 10px !important;
    margin-left: -20px !important;
  }
  .social{
    margin-left: -27px !important;
  }
  .copyright{
    font-size: 10px !important;
  }
}
