.container{
    background: var(--tezos-background);
    height: 300px;
}
.footerContent{
    display: flex;
    justify-content: center;
}
.footerLinks{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-left: -350px;
    color:var(--tezos-text);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.logo{
    width: 20vw;
}
.footerAlignLinks{
    margin-left: 30px;
    justify-content: center;
    cursor: pointer;
}
.social{
    margin-top: 200px;
    margin-left: -340px;
}
.footerSocialLinks{
    margin-left: 50px;
    width: 20px;
    cursor: pointer;
}
.copyright{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color:var(--tezos-text);
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
}