.hero-main {
  background-image: url("../assets/light-hero.svg");
  max-width: 100%;
  height: 780px;
  background-size: cover;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden !important;
}
.dark-hero-main {
  background-image: url("../assets/hero.svg");
}
.hero-text-div h1 {
  font-size: var(--font-size-banner);
  line-height: 1.5;
  color: var(--tezos-white) !important;
  text-align: center;
  padding: 2vh 22vw;
}
.introBtn {
  position: relative !important;
  margin: -6vh 0 0 43vw !important;
  color: white !important;
  background-color: transparent !important;
  border: 3px solid var(--tezos-white) !important;
  text-align: center;
  width: 170px !important;
  font-size: var(--font-size-mod-medium) !important;
  text-transform: inherit !important;
  border-radius: 5px !important;
}
.tezos-logo {
  width: 2.5vw;
  margin-bottom: -5px;
}
@media (max-width: 960px) and (min-width: 768px) {
  .hero-text-div h1 {
    font-size: 40px;
    padding: 5vh 8vw;
  }
  .tezos-logo {
    width: 3vw !important;
  }
  .introBtn {
    margin: -10vh 0 0 38vw !important;
  }
  .align-intro-btn {
    margin: 2vh 0 0 -3vw !important;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .hero-text-div h1 {
    font-size: 28px;
    padding: 0 18vw;
    margin-top: 5vh !important;
    padding-left: 20vw !important;
  }
  .tezos-logo {
    width: 7vw !important;
  }
  .hero-main {
    background-position: -780px;
  }
  .introBtn {
    margin: 2vh 0 0 26vw !important;
  }
  .align-intro-btn {
    margin: 10vh 0 0 -8vw !important;
  }
  .introBtn {
    width: 35vw !important;
    font-size: 12px !important;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .hero-text-div h1 {
    font-size: 30px;
    padding: 1vh 12vw;
    margin-top: 5vh !important;
    padding-left: 15vw !important;
  }
  .hero-main {
    background-position: -750px;
  }
  .tezos-logo {
    width: 6vw !important;
  }
  .introBtn {
    margin: -1vh 0 0 30vw !important;
  }
  .align-intro-btn {
    margin: 10vh 0 0 -15vw !important;
  }
}
@media (min-width: 425px) and (max-width: 765px) {
  .hero-text-div h1 {
    font-size: 30px;
    padding: 1vh 12vw;
    margin-top: 5vh !important;
    padding-left: 15vw !important;
  }
  .hero-main {
    background-position: -750px;
  }
  .tezos-logo {
    width: 6vw !important;
  }
  .introBtn {
    margin: -1vh 0 0 30vw !important;
  }
  .align-intro-btn {
    margin: 10vh 0 0 -10vw !important;
  }
  .introBtn {
    width: 35vw !important;
    font-size: 12px !important;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .hero-text-div h1 {
    font-size: 30px;
    padding: 1vh 12vw;
    margin-top: 5vh !important;
    padding-left: 15vw !important;
  }
  .tezos-logo {
    width: 3vw !important;
  }
  .introBtn {
    margin: -1vh 0 0 30vw !important;
  }
  .align-intro-btn {
    margin: 5vh 0 0 10vw !important;
  }
}
@media (min-width: 1001px) and (max-width: 1024px) {
  .introBtn {
    margin: -5vh 0 0 40vw !important;
  }
  .tezos-logo {
    width: 3.5vw;
  }
  .hero-text-div h1 {
    margin-left: -13vw !important;
    margin-right: -10vw !important;
  }
}
