.hero-main {
  background-image: url("../assets/light-hero.svg");
  max-width: 100%;
  /* height: 780px; */
  height: 100vh !important;
  background-size: cover;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.dark-hero-main {
  background-image: url("../assets/hero.svg");
}
.hero-text-div h1 {
  font-size: var(--font-size-banner);
  line-height: 1.5;
  color: var(--tezos-white);
  text-align: center;
  padding: 2vh 22vw;
}
.introBtn,.dark-introBtn {
  position: relative !important;
  color: white !important;
  background-color: transparent !important;
  border: 3px solid var(--tezos-white) !important;
  text-align: center;
  width: 170px !important;
  font-size: var(--font-size-mod-medium) !important;
  text-transform: inherit !important;
  border-radius: 5px !important;
  font-weight: bold !important;
}
.introBtn:hover{
  background-color: #ffffff !important;
  border: 3px solid #ffffff !important;
  color: #377dff !important;
}
.dark-introBtn:hover{
  background-color: #ffffff !important;
  border: 3px solid #ffffff !important;
  color: #1d1f28 !important;
}
.align-intro-btn {
  display: flex;
  justify-content: center;
}
.tezos-logo {
  width: 2.2vw;
  margin-bottom: -5px;
}
/* SmartPhone Potrait */
@media (min-width: 320px) and (max-width: 480px) {
  .hero-main {
    height: 100vh;
  }
  .hero-text-div h1 {
    font-size: 25px;
    padding: 0 10vw;
  }
  .tezos-logo {
    width: 4vw;
  }
  .introBtn {
    width: 35vw !important;
    height: 6vh !important;
    font-size: 12px !important;
  }
  .align-intro-btn {
    margin-top: 5vh;
  }
}
@media (max-width: 320px) {
  .hero-text-div {
    margin-top: -8vh;
  }
}
@media (min-width: 380px) and (max-width: 390px) {
  .hero-text-div h1 {
    font-size: 28px;
    margin-top: 5vh;
  }
  .introBtn {
    font-size: 16px !important;
  }
}
/* Device = Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  .hero-text-div h1 {
    font-size: 28px;
    padding: 0 12px;
  }
  .tezos-logo {
    width: 4vw;
  }
  .introBtn {
    width: 35vw !important;
    height: 6vh !important;
    font-size: 12px !important;
  }
  .hero-text-div {
    margin-top: 10vh;
  }
}

/* Device = Tablets, Ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hero-text-div h1 {
    font-size: 30px;
    padding: 0 18px;
  }
  .tezos-logo {
    width: 3vw;
  }
  .introBtn {
    width: 16vw !important;
    height: 7vh !important;
    font-size: 14px !important;
  }
  .hero-text-div {
    margin-top: 10vh;
  }
}

/* Device = Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-text-div h1 {
    font-size: 30px;
    padding: 0 15vw;
    margin-top: 12vh;
  }
  .tezos-logo {
    width: 3vw;
  }
  .introBtn {
    width: 14vw !important;
    height: 3vh !important;
    font-size: 14px !important;
  }
  .hero-text-div {
    margin-top: -5vh;
  }
}
