.infraContainer {
  background-image: url("../assets/infraBg.jpg");
  background-color: var(--tezos-background) !important;
  background-size: 100vw;
  height: 140vh;
  margin-top: -20px;
  background-repeat: no-repeat !important;
  overflow-x: hidden !important;
}
.logo {
  width: 85px;
  height: 100px;
  margin-left: -15px !important;
}
.alignHeading {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 800px;
}
.heading {
  margin-top: 10px !important;
  margin-left: 30px !important;
}
.paraText {
  color: var(--tezos-text);
  margin-left: 900px;
  line-height: 28px;
  margin-top: -10px !important;
}
.vector {
  width: 200px;
  margin-left: 85.5vw;
  margin-top: -115px;
}
@media screen and (max-width: 641px) {
  .infraContainer {
    background-size: 160vw !important;
    height: 400vw !important ;
  }
  .alignHeading {
    margin-left: 35px !important;
    margin-top: 300px !important;
  }
  .heading {
    font-size: 30px !important;
  }
  .logo {
    width: 10vw !important;
    margin-top: -10px !important;
  }
  .paraText {
    margin-left: 30px !important;
    margin-right: -205px !important;
  }
  .vector {
    width: 20vw !important;
    margin-left: 251px !important;
    margin-top: -30px !important;
  }
}
@media screen and (min-width: 411px) and (max-width: 640px) {
  .alignHeading {
    margin-left: 62px !important;
    margin-top: 320px !important;
  }
  .paraText{
    margin-right: -60vw !important;
  }
}
@media screen and (min-width: 650px) and (max-width: 768px) {
  .paraText{
    margin: 2vh -180vw 0 25vw!important;
  }
  .heading{
   margin: 30vh 0 0 5vw !important;
  }
  .logo{
    margin-left: -95vw !important;
    margin-top: 28vh !important;
  }
  .vector{
    margin-left: 73vw !important;
    margin-top: -10vh !important;
  }
  .infraContainer{
    background-position: 180px 50px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .infraContainer {
    background-size: 180vw !important;
    height: 180vw !important ;
  }
  .alignHeading {
    margin-left: 280px !important;
    margin-top: 950px !important;
  }
  .paraText {
    margin-left: 300px !important;
    margin-top: 80px !important;
  }
  .vector {
    margin-left: 80vw !important;
  }
}
