.container {
  background-color: var(--tezos-background);
  color: var(--tezos-white);
  margin-top: -60px;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.partnerTitle {
  margin-left: 250px;
  top: 50px !important;
  position: relative;
}
.line {
  width: 800px;
  border-bottom: 4px solid #1E2029;
  position: absolute;
  top:820px;
  left:700px;
}
.partnerLogo{
    width: 70vw;
    position: absolute;
    top:850px !important;
    left: 250px;
}
@media (max-width: 360px) {
  .partnerTitle{
    font-size: 14px !important;
    margin: -20px 0 0 10px;
  }
  .line{
    margin-left: -590px !important;
    margin-top: 30px !important;
    width: 250px !important;

  }
  .partnerLogo{
    margin-left: -200px !important;
    width: 60vw !important;
    margin-top: 20px !important;
  }
}