.container {
  background-color: var(--tezos-light-background);
  color: var(--tezos-white);
  margin-top: -20px;
  height: 200px;
  display: flex;
  flex-direction: row;
  overflow: hidden !important;
}
.dark-container {
  background-color: var(--tezos-background);
}
.partnerTitle {
  margin-left: 220px;
  top: 22px !important;
  position: relative;
  padding: 0 !important;
  font-size: 14px;
  margin-right: -5vw;
}
.line {
  width: 52vw;
  border-bottom: 4px solid #ffffff;
  position: relative;
  top: -150px !important;
  margin-left: 250px !important;
}
.dark-line {
  width: 52vw;
  border-bottom: 4px solid #1e2029;
  position: relative;
  top: -150px !important;
  margin-left: 190px !important;
}

.partnerLogo {
  width: 70vw;
  position: absolute;
  top: 860px !important;
  left: 220px;
}
@media (min-width:320px) and (max-width:345px){
  .container{
    height: 25vh !important;
  }
  .line{
    margin-left: -8vw !important;
    padding-bottom: 30.5vh !important;
    width: 70vw;
  }
  .partnerTitle{
    margin-left: 2vw !important;
  }
  .partnerLogo{
    margin-top: 2vh !important;
    margin-left: -65vw !important;
    width: 90vw !important;
  }
}
@media (min-width:344px) and (max-width:375px){
  .container{
    height: 30vh !important;
  }
  .line{
    margin-left: 5vw !important;
    padding-bottom: 35vh !important;
  }
  .partnerTitle{
    margin-left: 5vw !important;
  }
  .partnerLogo{
    margin-top: 2vh !important;
    margin-left: -53vw !important;
    width: 90vw !important;
  }
}
@media (min-width:376px) and (max-width:520px){
  .container{
    height: 30vh !important;
  }
  .line{
    margin-left: 5vw !important;
    padding-bottom: 35vh !important;
  }
  .partnerTitle{
    margin-left: 5vw !important;
  }
  .partnerLogo{
    margin-top: 2vh !important;
    margin-left: -46vw !important;
    width: 90vw !important;
  }
}
@media (min-width:521px) and (max-width:768px){
  .container{
    height: 30vh !important;
  }
  .line{
    margin-left: 14vw !important;
    padding-bottom: 35vh !important;
  }
  .partnerTitle{
    margin-left: 5vw !important;
  }
  .partnerLogo{
    margin-top: 2vh !important;
    margin-left: -23vw !important;
    width: 90vw !important;
  }
}
@media (min-width:769px) and (max-width:950px){
  .container{
    height: 30vh !important;
  }
  .line{
    margin-left: 12vw !important;
    padding-bottom: 35vh !important;
  }
  .partnerTitle{
    margin-left: 5vw !important;
  }
  .partnerLogo{
    margin-top: 2vh !important;
    margin-left: -20vw !important;
    width: 90vw !important;
  }
}
@media (min-width:951px) and (max-width:1024px){
  .container{
    height: 30vh !important;
  }
  .line{
    margin-left: 20vw !important;
  }
  .partnerTitle{
    margin-left: 5vw !important;
    margin-top: 5vh !important;
  }
  .partnerLogo{
    margin-top: 2vh !important;
    margin-left: -15vw !important;
    width: 90vw !important;
  }
}