.teamCardContainer {
  height: 300px !important;
  width: 200px !important;
  border-radius: 10px !important;
  color: var(--tezos-white);
  padding: 10px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
@media (max-width: 455px) {
  .teamCardContainer {
    height: 220px !important;
  }
}
@media (min-width: 456px) and (max-width: 700px) {
  .teamCardContainer {
    height: 250px !important;
    width: 100px !important;
  }
}
