.container {
  background: var(--tezos-background);
  height: 150vh;
  font-family: "Inter", sans-serif;
}
.heading {
  text-align: center;
  padding-top: 60px;
}
.team {
  display: flex;
  flex-direction: row;
  padding: 15vh 20vw 0 18vw;
}
.memberImg {
  width: 10vw;
}
.alignImage {
  margin: 0 80px;
}
.header {
  font-size: var(--font-size-medium);
  text-align: center;
  color: var(--tezos-white);
}
.designation {
  font-size: var(--font-size-mod-medium);
  color: var(--tezos-text);
  text-align: center;
}
.teamSocial img {
  width: 20px;
  margin: 0px 20px 20px 0px;
  cursor: pointer;
}
.teamSocial {
  margin-left: 25px;
}
.btn {
  text-transform: inherit !important;
  color: var(--tezos-text) !important;
  background-color: #2a2c34 !important;
  width: 450px !important;
  height: 55px !important;
  font-size: var(--font-size-mod-medium) !important;
  border-radius: 10px;
}
.resumeBtn {
  padding: 10vh 20vw 0 34vw;
}
@media (max-width: 360px) {
  .container {
    height: 100vh !important;
  }
  .carousel {
    margin: 50px 35px 0 -10px !important;
  }
  .memberImg {
    width: 20vw !important;
  }
  .alignImage {
    margin-left: 48px !important;
  }
  .header {
    margin-left: -25px !important;
    margin-right: -30px !important;
  }
  .designation {
    margin-left: -20px !important;
    margin-right: -30px !important;
  }
  .teamSocial {
    margin-left: -10px !important;
    margin-right: -50px !important;
  }
  .btn {
    width: 250px !important;
    font-size: 12px !important;
    margin-left: -85px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .team{
    margin-left: -200px !important;
    margin-top: -30px !important;
  }
  .heading{
    margin-left: -220px !important;
    padding-top: 150px !important;
    font-size: 50px !important;
  }
  .container{
    height:110vh !important;
  }
  .teamSocial img{
    margin-left: -10px !important;
  }
  .btn{
    margin-left: -180px !important;
  }
}
