.yt-container {
  /* height: 80vh !important; */
  background-color: #4a62ff !important;
  margin-top: -20px !important;
  overflow: hidden !important;
  padding-bottom: 5vh;
  padding-top: 2vh;
}
.dark-yt-container {
  background-color: #1d1f28 !important;
}
.yt-align-videos {
  display: flex;
  flex-direction: row;
  gap: 0 30px !important;
  margin-left: 10vw;
  margin-top: 10vh;
}
.player-alignment {
  width: 25vw !important;
  height: 28vh !important;
}
.yt-container h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  overflow-x: hidden !important;
}
@media (min-width: 320px) and (max-width: 360px) {
  .yt-container {
    /* height: 140vh !important; */
    width: 100%;
  }
  .yt-align-videos {
    flex-direction: column;
    gap: 20px 0 !important;
    margin-left: 22vw;
  }
  .player-alignment {
    width: 55vw !important;
    height: 18vh !important;
  }
  .yt-container h1 {
    font-size: 30px;
    padding: 0 30px;
    text-align: center !important;
    /* margin-top: 10vh !important; */
  }
}
/* }
@media (min-width: 310px) and (max-width:320px){
  .yt-container{
    height: 120vh !important;
  }
} */
@media (min-width: 361px) and (max-width: 375px) {
  .yt-container {
    /* height: 120vh !important; */
    width: 100%;
  }
  .yt-align-videos {
    flex-direction: column;
    gap: 20px 0 !important;
    margin-left: 22vw;
  }
  .player-alignment {
    width: 55vw !important;
    height: 14vh !important;
  }
  .yt-container h1 {
    font-size: 30px;
    padding: 0 30px;
    text-align: center !important;
    margin-top: 1vh !important;
  }
}
@media (min-width: 376px) and (max-width: 424px) {
  .yt-container {
    /* height: 130vh !important; */
    width: 100%;
  }
  .yt-align-videos {
    flex-direction: column;
    gap: 20px 0 !important;
    margin-left: 18vw;
  }
  .player-alignment {
    width: 65vw !important;
    height: 18vh !important;
  }
  .yt-container h1 {
    font-size: 30px;
    padding: 0 30px;
    text-align: center !important;
    /* margin-top: 10vh !important; */
  }
}
@media (min-width: 425px) and (max-width: 520px) {
  .yt-container {
    /* height: 120vh !important; */
    width: 100%;
  }
  .yt-align-videos {
    flex-direction: column;
    gap: 20px 0 !important;
    margin-left: 22vw;
  }
  .player-alignment {
    width: 55vw !important;
    height: 24vh !important;
  }
  .yt-container h1 {
    font-size: 30px;
    padding: 0 30px;
    text-align: center !important;
  }
}
@media (min-width: 521px) and (max-width: 779px) {
  .yt-container {
    /* height: 130vh !important; */
    width: 100%;
  }
  .yt-align-videos {
    flex-direction: column;
    gap: 20px 0 !important;
    margin-left: 23vw;
  }
  .player-alignment {
    width: 52vw !important;
    height: 22vh !important;
  }
  .yt-container h1 {
    font-size: 30px;
    padding: 0 30px !important;
    text-align: center !important;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  .yt-container {
    /* height: 90vh !important; */
    width: 100%;
  }
  .player-alignment {
    width: 25vw !important;
    height: 12vh !important;
  }
  .yt-container h1 {
    font-size: 30px;
    padding: 0 30px;
    text-align: center !important;
  }
}
