.container {
  background: #2B48BE;
  height: 150vh;
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
}
.heading {
  text-align: center;
  padding-top: 60px;
}
.team {
  display: flex;
  flex-direction: row;
  padding: 15vh 20vw 0 18vw;
}
.memberImg {
  width: 10vw;
}
.alignImage {
  margin: 0 80px;
}
.header {
  font-size: var(--font-size-medium);
  text-align: center;
  color: var(--tezos-white);
}
.designation {
  font-size: var(--font-size-mod-medium);
  color: var(--tezos-white);
  text-align: center;
  margin-left: 5px;
}
.teamSocial img {
  width: 20px;
  margin: 0px 20px 20px 0px;
  cursor: pointer;
}
.teamSocial {
  margin-left: 30px;
}
.btn {
  text-transform: inherit !important;
  color: var(--tezos-white) !important;
  background-color: #4A62FF !important;
  width: 450px !important;
  height: 55px !important;
  font-size: var(--font-size-mod-medium) !important;
  border-radius: 10px;
}
.resumeBtn {
  padding: 10vh 20vw 0 34vw;
}
@media screen and (min-width:320px) and (max-width: 360px) {
  .container {
    height: 100vh !important;
  }
  .carousel {
    margin: 50px 10px 0 10px !important;
  }
  .memberImg {
    width: 20vw !important;
  }
  .alignImage {
    margin-left: 48px !important;
  }
  .header {
    margin-left: -25px !important;
    margin-right: -30px !important;
  }
  .designation {
    margin-left: -20px !important;
    margin-right: -30px !important;
  }
  .teamSocial {
    margin-left: -10px !important;
    margin-right: -50px !important;
  }
  .btn {
    width: 250px !important;
    font-size: 12px !important;
    margin-left: -65px !important;
  }
}
@media screen and (min-width:375px) and (max-width: 411px) {
  .container {
    height: 100vh !important;
  }
  .carousel {
    margin: 50px 30px 0 45px !important;
  }
  .memberImg {
    width: 20vw !important;
  }
  .alignImage {
    margin-left: 48px !important;
  }
  .header {
    margin-left: -25px !important;
    margin-right: -30px !important;
  }
  .designation {
    margin-left: -20px !important;
    margin-right: -30px !important;
  }
  .teamSocial {
    margin-left: -10px !important;
    margin-right: -50px !important;
  }
  .btn {
    width: 250px !important;
    font-size: 12px !important;
    margin-left: -65px !important;
  }
}
@media screen and (min-width:414px) and (max-width: 768px) {
  .container {
    height: 100vh !important;
  }
  .btn {
    width: 350px !important;
    font-size: 12px !important;
    margin-left: -50px !important;
  }
  .team{
    margin-left: -13vw !important;
  }
  .designation {
    margin-left: -5vw !important;
    margin-right: -5vw !important;
  }
   .header{
     margin-left: -5vw !important;
     margin-right: -5vw !important ;
   } 
   .teamSocial{
     margin: 0 -5vw 0 -1vw !important;
   }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .team{
    margin-left: -80px !important;
    margin-top: -30px !important;
  }
  .heading{
    margin-left: -20px !important;
    padding-top: 150px !important;
    font-size: 50px !important;
  }
  .container{
    height:110vh !important;
  }
  .teamSocial img{
    margin-left: -20px !important;
    margin-right: -40px !important;
  }
  .btn{
    margin-left: -60px !important;
  }
  .teamSocial{
    margin-left: 100px !important;
  }
}
