.headingTextStyle {
    font-size: 40px; 
    font-weight: bold;
    color: var(--tezos-white);
    line-height: 50px;
  }
  .subHeadingTextStyle {
    font-size: 20px;
    color: var(--tezos-white);
    font-weight: bold;
  }
  .textStyle{
    font-size: var(--font-size-mod-medium);
    color: var(--tezos-text); 
  }

  .smallTextStyle { 
    font-size: var(--font-size-semi-medium);
    color: var(--tezos-text);
  }
  