:root {
  --tezos-black: #1a1818;
  --tezos-white: #ffffff;
  --tezos-grey: #707070;
  --tezos-text: #858A8F;
  --tezos-background: #12141D;
  --tezos-secondary-background:#1D1F28;
  --tezos-blue:#377DFF;
  --font-size-banner:50px;
  --font-size-medium: 18px;
  --font-size-mod-medium: 16px;
  --font-size-semi-medium: 14px;
  --font-size-big:24px;
  --font-size-semi-large:32px;
  --font-size-large:40px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
