*{
  font-family: 'Poppins',sans-serif;
}
:root {
  --tezos-black: #1a1818;
  --tezos-white: #ffffff;
  --tezos-grey: #707070;
  --tezos-text: #858a8f;
  --tezos-background: #12141d;
  --tezos-light-background: #2b48be;
  --tezos-secondary-background: #1d1f28;
  --tezos-blue: #377dff;
  --font-size-banner: 46px;
  --font-size-medium: 16px;
  --font-size-mod-medium: 14px;
  --font-size-semi-medium: 12px;
  --font-size-big: 24px;
  --font-size-semi-large: 32px;
  --font-size-large: 40px;
}
