:root {
  --tezos-black: #1a1818;
  --tezos-white: #ffffff;
  --tezos-grey: #707070;
  --tezos-text: #858A8F;
  --tezos-background: #12141D;
  --tezos-light-background:#2B48BE;
  --tezos-secondary-background:#1D1F28;
  --tezos-blue:#377DFF;
  --font-size-banner:46px;
  --font-size-medium: 16px;
  --font-size-mod-medium: 14px;
  --font-size-semi-medium: 12px;
  --font-size-big:24px;
  --font-size-semi-large:32px;
  --font-size-large:40px;
}